{
	"presets": ["react", ["env", {
		"loose": true,
		"useBuiltIns": false,
		"targets": {
			"chrome": 55
		},
		"exclude": [
      "transform-regenerator",
      "transform-es2015-typeof-symbol"
    ]
  }], "stage-0"]
}